dist/*
target/
.history
.cache
.lib/
.idea
graalvm-native-image
project/target
.DS_Store
*.iml
*.json
resources/*.json
resources/*.conf
resources/*.p8
resources/*.p12
src/main/resources/*.json
src/main/resources/secrets.conf
src/main/resources/application.conf
src/main/resources/Apple.p8
