<configuration>
    <appender name="classicConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>[ignore]</timestamp>
                <version>[ignore]</version>
                <logger>[ignore]</logger>
                <thread>[ignore]</thread>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>
    <logger name="com.uptech" level="info">
<!--        <appender-ref ref="classicConsoleAppender"/>-->
        <appender-ref ref="jsonConsoleAppender"/>
    </logger>
</configuration>
